<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485448389288-emjggg7k8o74je51ca9ln0jiq8bj819f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485448389288-emjggg7k8o74je51ca9ln0jiq8bj819f</string>
	<key>API_KEY</key>
	<string>AIzaSyDcrkw_OfDfPzJo5mdZ1_hAo7zlQRte_78</string>
	<key>GCM_SENDER_ID</key>
	<string>485448389288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geekbrains.test.VK-GB</string>
	<key>PROJECT_ID</key>
	<string>vk-gb-4b969</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-gb-4b969.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485448389288:ios:ffb022674f0b8a279c689d</string>
</dict>
</plist>